body {
    width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 380px;
    float: center;
}

#saveBtn {
    width: 80px !important;
    float: center;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-out {
    animation: fadeOut 1.5s ease forwards;
}